@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Delete";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    ViewBag.BodyClass = "home";

}



@*<div class="col-md-3">
    <partial name="_ManageNav" model="@Model.UserId" />
</div>

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>The account contains user data. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove the account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-route-userId="@Model.UserId" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@


<section class="job-list section pt-4 position-relative pull-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 m-auto">
                <div class="block">
                    <div class="job">
                        <div class="content justify-content-center align-items-center">

                            <partial name="_ManageNav" model="@Model.UserId" />

                            <div class="justify-content-center mt-3">
                                <div>
                                    <h3>@ViewData["Title"]</h3>
                                </div>

                                <div class="mt-3">
                                 
                                    <p>The account contains user data. This page allows you to download or delete that data.</p>
                                    <p>
                                        <strong>Deleting this data will permanently remove the account, and this cannot be recovered.</strong>
                                    </p>
                                    <form id="download-data" asp-page="DownloadPersonalData" method="post">
                                        <button class="btn btn-primary" type="submit">Download</button>
                                    </form>
                                    <p>
                                        <a id="delete" asp-route-userId="@Model.UserId" asp-page="DeletePersonalData" class="w-100 btn btn-lg btn btn-danger">Delete</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>