@page
@model BankManagerApp.Pages.Accounts.AccountModel
@{
    ViewBag.BodyClass = "homelong";
}


<h1 class="text-center">Account</h1>

<section class="job-list section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-10 m-auto">
                <div class="block">
                    <table class="title table">
                        <thead>
                            <tr>
                                <th scope="col">Account Info</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AccountId:</td>
                                <td>@Model.Account.AccountId</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Date of creation:</td>
                                <td>@Model.Account.DateOfCreation</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Current Balance</td>
                                <td>@Model.Account.Balance</td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>Frequency:</td>
                                <td>@Model.Account.Frequency</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Owner:</td>
                                <td>@Model.Customer.GivenName @Model.Customer.Surname</td>
                                <td style="width: 150px">

                                    @if (@Model.PreviousPage == "customer")
                                    {
                                    }
                                    else if (@Model.PreviousPage == "accounts")
                                    {
                                        <a class="btn btn-primary"
                                       asp-page="/Customers/Customer" asp-route-customerId="@Model.Customer.Id" asp-route-previousPage="account" asp-route-accountId="@Model.Account.AccountId">
                                            Customer
                                        </a>
                                    }
                                    else if (@Model.PreviousPage == "topCustomersByCountry")
                                    {
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary"
                                       asp-page="/Customers/Customer" asp-route-customerId="@Model.Customer.Id" asp-route-previousPage="account" asp-route-accountId="@Model.Account.AccountId">
                                            Customer
                                        </a>
                                    }

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Withdrawal:
                                </td>
                                <td>
                                    <div class="trans-icon">
                                        <a asp-page="/Accounts/Withdrawal" asp-route-accountId="@Model.Account.AccountId"><i class="bx bx-money-withdraw"></i></a>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Deposit:
                                </td>
                                <td>
                                    <div class="trans-icon">
                                        <a asp-page="/Accounts/Deposit" asp-route-accountId="@Model.Account.AccountId"><i class='bx bx-plus-circle'></i></a>
                                    </div>
                                </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>
                                    Transfer:
                                </td>
                                <td>
                                    <div class="trans-icon">
                                        <a asp-page="/Accounts/Transfer" asp-route-accountId="@Model.Account.AccountId"><i class='bx bx-transfer'></i></a>
                                    </div>
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>

                    <table class="title table" id="posts-table">
                        <thead>
                            <tr>
                                <th>Transactions</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Type</th>
                                <th scope="col">Operation</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Bal. after txn</th>
                                <th scope="col">Date of txn</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- transaction data here -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    @if (@Model.PreviousPage == "accounts")
                                    {
                                        <a class="btn btn-secondary"
                                       asp-page="/Accounts/Index">
                                            Back
                                        </a>
                                    }
                                    else if (@Model.PreviousPage == "topCustomersByCountry")
                                    {
                                        <a class="btn btn-secondary"
                                       asp-page="/Customers/Customer" asp-route-previousPage="topCustomersByCountry" asp-route-customerId="@Model.Customer.Id">
                                            Back
                                        </a>
                                    }
                                    else if (@Model.PreviousPage == "customer")
                                    {
                                        <a class="btn btn-secondary"
                                       asp-page="/Customers/Customer" asp-route-customerId="@Model.Customer.Id" asp-route-previousPage="customers">
                                            Back
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-secondary"
                                       asp-page="/Accounts/Index">
                                            Back
                                        </a>
                                    }
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a class="btn btn-primary" href="javascript:showMore();">Show More</a></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
    {
    <script>
        pageNo = 1;

        document.addEventListener("DOMContentLoaded", function () {
            showMore();
        });

        function showMore() {
            fetch("Account?handler=ShowMore&pageNo=" + pageNo + "&accountId=@Model.Account.AccountId")
                .then((response) => response.json())
                .then((json) => {
                    pageNo = pageNo + 1
                    json.transactions.forEach(drawElements);
                });
        }

        function drawElements(element) {
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
                    <td>${element.transactionId}</td>
                    <td>${element.type}</td>
                    <td>${element.operation}</td>
                    <td>${element.amount}</td>
                    <td>${element.balanceAfterTransaction}</td>
                    <td>${element.transactionDate}</td>
                    <td></td>
                 </tr>`;
        }

    </script>
}