@page
@model BankManagerApp.Pages.Accounts.AccountModel
@{
    ViewBag.BodyClass = "homelong";
}


<h1 class="text-center">Account</h1>



<section class="job-list section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-10 m-auto">
                <div class="block">
                    <table class="title table">
                        <thead>
                            <tr>
                                <th scope="col">Account Info</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AccountId:</td>
                                <td>@Model.Account.AccountId</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Date of creation:</td>
                                <td>@Model.Account.DateOfCreation</td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>Current Balance</td>
                                <td>@Model.Account.Balance</td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>Frequency:</td>
                                <td>@Model.Account.Frequency</td>
                                <td></td>
                            </tr>
                             <tr>
                                <td>Owner:</td>
                                 <td>@Model.Customer.GivenName @Model.Customer.Surname</td>
                                 <td>
                                     
                                     @if (@Model.PreviousPage == "customer")
                                     {
                                         <a class="btn btn-secondary"
                                            asp-page="/Customers/Customer" asp-route-customerId="@Model.Customer.Id" asp-route-previousPage="customers" asp-route-accountId="@Model.Account.AccountId">
                                             Customer
                                         </a>
                                     }
                                    else if (@Model.PreviousPage == "accounts")
                                     {
                                         <a class="btn btn-secondary"
                                            asp-page="/Customers/Customer" asp-route-customerId="@Model.Customer.Id" asp-route-previousPage="account" asp-route-accountId="@Model.Account.AccountId">
                                             Customer
                                         </a>
                                     }
                                    else if (@Model.PreviousPage == "topCustomersByCountry")
                                    {
                                        <a class="btn btn-secondary"
                                       asp-page="/Customers/Customer" asp-route-customerId="@Model.Customer.Id" asp-route-previousPage="topCustomersByCountry" asp-route-accountId="@Model.Account.AccountId">
                                            Customer
                                        </a>
                                    }

                                 </td>
                            </tr>


                        </tbody>
                    </table>

                    <table class="title table">
                        <thead>
                            <tr>
                                <th >Transactions</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Type</th>
                                <th scope="col">Operation</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Bal. after txn</th>
                                <th scope="col">Date of txn</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var tran in Model.Transactions)
                            {
                                <tr>

                                    <td>@tran.TransactionId</td>
                                    <td>@tran.Type</td>
                                    <td>@tran.Operation</td>
                                    <td>@tran.Amount</td>
                                    <td>@tran.BalanceAfterTransaction</td>
                                    <td>@tran.TransactionDate</td>
                                </tr>

                            }

                            <tr>
                                <td>
                                    @if (@Model.PreviousPage == "accounts")
                                    {

                                        <a class="btn btn-secondary"
                                       asp-page="/Accounts/Accounts">
                                            Back
                                        </a>

                                    }
                                    else if (@Model.PreviousPage == "topCustomersByCountry")
                                    {
                                        <a class="btn btn-secondary"
                                       asp-page="/Customers/Customer" asp-route-previousPage="topCustomersByCountry" asp-route-customerId="@Model.Customer.Id">
                                            Back
                                        </a>
                                    }

                                    else if(@Model.PreviousPage == "customer")
                                    {
                                    <a class="btn btn-secondary"
                                       asp-page="/Customers/Customer" asp-route-customerId="@Model.Customer.Id">
                                        Back
                                    </a>
                                    }

                                    else
                                    {
                                        <a class="btn btn-secondary"
                                           asp-page="/Accounts/Accounts">
                                            Back
                                        </a>

                                    }

                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>