@page
@model BankManagerApp.Pages.Accounts.IndexModel
@{
    ViewBag.BodyClass = "homelong";
}

<h1 class="text-center">All Accounts</h1>



<section class="job-list section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 m-auto">
                <div class="block">
                    <table class="title table ">
                        <thead>
                        <tr>
                            <th scope="col">AccountId</th>
                            <th scope="col">
                                Frequency
                                <a asp-page="/Accounts/Accounts"
                                   asp-route-sortColumn="Frequency"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration: none">
                                    <i class="fa-solid fa-angle-up"></i>

                                </a>
                                <a asp-page="/Accounts/Accounts"
                                   asp-route-sortColumn="Frequency"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration: none">
                                    <i class="fa-solid fa-angle-down"></i>

                                </a>



                            </th>
                            <th scope="col">
                                Date Of Creation
                                <a asp-page="/Accounts/Accounts"
                                   asp-route-sortColumn="Date Of Creation"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration: none">
                                    <i class="fa-solid fa-angle-up"></i>

                                </a>
                                <a asp-page="/Accounts/Accounts"
                                   asp-route-sortColumn="Date Of Creation"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration: none">
                                    <i class="fa-solid fa-angle-down"></i>

                                </a>
                            </th>
                            <th scope="col">
                                Balance
                                <a asp-page="/Accounts/Accounts"
                                   asp-route-sortColumn="Balance"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration: none">
                                    <i class="fa-solid fa-angle-up"></i>

                                </a>
                                <a asp-page="/Accounts/Accounts"
                                   asp-route-sortColumn="Balance"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration: none">
                                    <i class="fa-solid fa-angle-down"></i>

                                </a>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                            @foreach (var acco in Model.Accounts)
                            {
                                <tr>
                                    <td>@acco.AccountId</td>
                                    <td>@acco.Frequency</td>
                                    <td>@acco.DateOfCreation</td>
                                    <td>@acco.Balance</td>
                                    <td><a asp-page="/Accounts/Account" asp-route-accountId="@acco.AccountId" asp-route-previousPage="accounts" class="btn btn-primary">View</a></td>
                                </tr>
                            }
                            
                        <tr>
                            <td>
                                @if (Model.CurrentPage != 1)
                                {
                                    <a class="btn btn-secondary"
                                       asp-page="/Accounts/Accounts"
                                       asp-route-sortColumn="@Model.SortColumn"
                                       asp-route-sortOrder="@Model.SortOrder"
                                       asp-route-pageNo="@(Model.CurrentPage - 1)">
                                        Prev
                                    </a>
                                }
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-secondary"
                                   asp-page="/Accounts/Accounts"
                                   asp-route-sortColumn="@Model.SortColumn"
                                   asp-route-sortOrder="@Model.SortOrder"
                                   asp-route-pageNo="@(Model.CurrentPage + 1)">
                                    Next
                                </a>
                            </td>

                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>