@page
@model BankManagerApp.Pages.Accounts.TransferModel
@{
    ViewBag.BodyClass = "home";
}

<partial name="_Showcase" model='new { HeaderText = "Transfer", ParagraphText = "" }' />


<section class="section pt-0 position-relative pull-top">
    <div class="container">
        <div class="rounded shadow p-5 bg-white">
            <div class="col-12">
                <h2 class="mb-5 text-left">Balance: @Model.CurrentBalance</h2>
                <div class="row">
                    <div class="col-lg-6 mt-5 mt-lg-0 transfer-column">
                        <form method="post" asp-page-handler="TransferFunds">
                            <input type="hidden" asp-for="CurrentBalance" />
                            <input type="hidden" asp-for="FromAccountId" />
                            <input type="hidden" asp-for="ToAccountId" />
                            <h3 class="mt-4 text-capitalize h5 ">FROM AccountId: @Model.FromAccountId</h3>
                            <p class="regular text-muted">Owner:</p>
                            <div class="form-group">
                                <label asp-for="Amount" class="transaction-solid">Amount</label>
                                <input class="form-control main" asp-for="Amount" required>
                                <span class="field-validation-error transfer" asp-validation-for="Amount"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Transfer</button>
                        </form>
                    </div>
                    <div class="col-lg-6 mt-5 mt-lg-0 transfer-column">
                        <form method="post" asp-page-handler="RetrieveToAccountId">
                            @if (@Model.ToAccountId > 0)
                            {
                                <h3 class="mt-4 text-capitalize h5 ">TO AccountId: @Model.ToAccountId</h3>
                            }
                            else
                            {
                                <h3 class="mt-4 text-capitalize h5 ">TO AccountId:</h3>
                            }
                            <p class="regular text-muted">Owner:</p>
                            <div class="form-group">
                                <label asp-for="ToAccountId" class="transaction-solid">Search:</label>
                                <input class="form-control main" placeholder="Account Id" asp-for="@Model.ToAccountId" class="form-control">
                                <span class="field-validation-error transfer" asp-validation-for="ToAccountId"></span>
                            </div>
                            <input type="hidden" asp-for="FromAccountId"/>
                            <input type="hidden" asp-for="CurrentBalance"/>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






