@page
@model BankManagerApp.Pages.Customers.CustomersModel
@{
}

<h1>All Customers</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">
                First Name
                <a asp-page="/Customers/Customers"
                   asp-route-sortColumn="First Name"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>
                   
                </a>
            </th>
            <th scope="col">
                Last Name
                <a asp-page="/Customers/Customers"
                   asp-route-sortColumn="Last Name"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
            </th>
            <th scope="col">
                Address
                <a asp-page="/Customers/Customers"
                   asp-route-sortColumn="Address"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
            </th>
            <th scope="col">
                City
                <a asp-page="/Customers/Customers"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
            </th>
            <th scope="col">
                Country
                <a asp-page="/Customers/Customers"
                   asp-route-sortColumn="Country"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var cust in Model.Customers)
        {
            <tr>
                <td>@cust.Id</td>
                <td>@cust.GivenName</td>
                <td>@cust.Surname</td>
                <td>@cust.Address</td>
                <td>@cust.City</td>
                <td>@cust.Country</td>
                <td><a asp-page="/Supplier" asp-route-id="@cust.Id" class="btn btn-primary">View</a></td>
            </tr>
        }

    </tbody>
</table>
