@page
@model BankManagerApp.Pages.Customers.IndexModel
@{
    ViewBag.BodyClass = "homelong";

}

@if (@Model.PreviousPage == "manage-customers")
{

    <partial name="_Showcase" model='new { HeaderText = "Select Customer To Edit", ParagraphText = "" }' />


}
else
{
    <partial name="_Showcase" model='new { HeaderText = "All Customers", ParagraphText = "" }' />

}




<section class="job-list section pt-0 position-relative pull-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 m-auto">
                <div class="block">
                    <table class="title table ">
                        <thead>
                            <tr>
                                <h3>Page @Model.CurrentPage of @Model.PageCount</h3>
                                <form method="get">
                                    <input placeholder="Name" asp-for="@Model.QName" />
                                    <input type="hidden" name="previousPage" value="@Model.PreviousPage" />
                                    <input type="submit" class="" value="Search" />
                                </form>
                                <form method="get">
                                    <input placeholder="City" asp-for="@Model.QCity" />
                                    <input type="hidden" name="previousPage" value="@Model.PreviousPage" />
                                    <input type="submit" class="" value="Search" />
                                </form>
                                <th scope="col">CustomerId</th>
                                <th scope="col">
                                    First Name
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="First Name"
                                       asp-route-sortOrder="asc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-up"></i>

                                    </a>
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="First Name"
                                       asp-route-sortOrder="desc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-down"></i>

                                    </a>
                                </th>
                                <th scope="col">
                                    Last Name
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="Last Name"
                                       asp-route-sortOrder="asc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-up"></i>

                                    </a>
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="Last Name"
                                       asp-route-sortOrder="desc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-down"></i>

                                    </a>
                                </th>
                                <th scope="col">
                                    Address
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="Address"
                                       asp-route-sortOrder="asc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-up"></i>

                                    </a>
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="Address"
                                       asp-route-sortOrder="desc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-down"></i>

                                    </a>
                                </th>
                                <th scope="col">
                                    City
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="City"
                                       asp-route-sortOrder="asc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-up"></i>

                                    </a>
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="City"
                                       asp-route-sortOrder="desc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-down"></i>

                                    </a>
                                </th>
                                <th scope="col">
                                    Country
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="Country"
                                       asp-route-sortOrder="asc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-up"></i>
                                    </a>
                                    <a asp-page="/Customers/Index"
                                       asp-route-q="@Model.QName"
                                       asp-route-q="@Model.QCity"
                                       asp-route-sortColumn="Country"
                                       asp-route-sortOrder="desc"
                                       asp-route-previousPage="@Model.PreviousPage"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        @* <tbody>

                        @foreach (var cust in Model.Customers)
                        {
                        <tr>
                        <td>@cust.CustomerId</td>
                        <td>@cust.Givenname</td>
                        <td>@cust.Surname</td>
                        <td>@cust.Streetaddress</td>
                        <td>@cust.City</td>
                        <td>@cust.Country</td>

                        @if (@Model.PreviousPage == "manage-customers")
                        {
                        <td><a asp-page="/CustomerManagement/UpdateCustomer" asp-route-customerId="@cust.CustomerId" asp-route-previousPage="customers" class="btn btn-primary">Select</a></td>
                        }
                        else
                        {
                        <td><a asp-page="/Customers/Customer" asp-route-customerId="@cust.CustomerId" asp-route-previousPage="customers" class="btn btn-primary">View</a></td>
                        }
                        </tr>
                        }

                        <tr>
                        <td>
                        @if (Model.CurrentPage != 1)
                        {
                        <a class="btn btn-secondary"
                        asp-page="/Customers/Index"
                        asp-route-q="@Model.QName"
                        asp-route-q="@Model.QCity"
                        asp-route-sortColumn="@Model.SortColumn"
                        asp-route-sortOrder="@Model.SortOrder"
                        asp-route-pageNo="@(Model.CurrentPage - 1)"
                        asp-route-previousPage="@Model.PreviousPage">
                        Prev
                        </a>
                        }
                        </td>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                        @for (int i = 1; i <= @Model.PageCount; i++)
                        {
                        string activeLink = "btn-secondary";

                        if (i == Model.CurrentPage)
                        {
                        activeLink = "btn-primary";
                        }

                        <a class="btn @activeLink"
                        asp-page="/Customers/Index"
                        asp-route-q="@Model.QName"
                        asp-route-q="@Model.QCity"
                        asp-route-sortColumn="@Model.SortColumn"
                        asp-route-sortOrder="@Model.SortOrder"
                        asp-route-previousPage="@Model.PreviousPage"
                        asp-route-pageNo="@i">
                        @i
                        </a>

                        }


                        </td>
                        <td></td>
                        <td></td>

                        <td>
                        @if (Model.CurrentPage != Model.PageCount)
                        {

                        <a class="btn btn-secondary"
                        asp-page="/Customers/Index"
                        asp-route-q="@Model.QName"
                        asp-route-q="@Model.QCity"
                        asp-route-sortColumn="@Model.SortColumn"
                        asp-route-sortOrder="@Model.SortOrder"
                        asp-route-previousPage="@Model.PreviousPage"
                        asp-route-pageNo="@(Model.CurrentPage + 1)">
                        Next
                        </a>

                        }

                        </td>
                        </tr>
                        </tbody>*@


                        <tbody>
                            @foreach (var cust in Model.Customers)
                            {
                                <tr>
                                    <td>@cust.CustomerId</td>
                                    <td>@cust.Givenname</td>
                                    <td>@cust.Surname</td>
                                    <td>@cust.Streetaddress</td>
                                    <td>@cust.City</td>
                                    <td>@cust.Country</td>

                                    @if (Model.PreviousPage == "manage-customers")
                                    {
                                        <td>
                                            <a asp-page="/CustomerManagement/UpdateCustomer" asp-route-customerId="@cust.CustomerId" asp-route-previousPage="customers" class="btn btn-primary">Select</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a asp-page="/Customers/Customer" asp-route-customerId="@cust.CustomerId" asp-route-previousPage="customers" class="btn btn-primary">View</a>
                                        </td>
                                    }
                                </tr>
                            }

                            <tr>
                                <td colspan="7">
                                    <div class="pagination d-flex justify-content-center">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">

                                                @if (Model.CurrentPage > 1)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" asp-page="/Customers/Index"
                                                       asp-route-q="@Model.QName"
                                                       asp-route-q="@Model.QCity"
                                                       asp-route-sortColumn="@Model.SortColumn"
                                                       asp-route-sortOrder="@Model.SortOrder"
                                                       asp-route-previousPage="@Model.PreviousPage"
                                                       asp-route-pageNo="1">First</a>
                                                    </li>
                                                }

                                                @for (int i = 1; i <= Model.PageCount; i++)
                                                {
                                                    if (i == Model.CurrentPage)
                                                    {
                                                        <li class="page-item active">
                                                            <a class="page-link">@i <span class="sr-only">(current)</span></a>
                                                        </li>
                                                    }
                                                    else if (i >= Model.CurrentPage - 2 && i <= Model.CurrentPage + 2)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" asp-page="/Customers/Index"
                                                       asp-route-q="@Model.QName"
                                                       asp-route-q="@Model.QCity"
                                                       asp-route-sortColumn="@Model.SortColumn"
                                                       asp-route-sortOrder="@Model.SortOrder"
                                                       asp-route-previousPage="@Model.PreviousPage"
                                                       asp-route-pageNo="@i">@i</a>
                                                        </li>
                                                    }
                                                }

                                                @if (Model.CurrentPage < Model.PageCount)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" asp-page="/Customers/Index"
                                                       asp-route-q="@Model.QName"
                                                       asp-route-q="@Model.QCity"
                                                       asp-route-sortColumn="@Model.SortColumn"
                                                       asp-route-sortOrder="@Model.SortOrder"
                                                       asp-route-previousPage="@Model.PreviousPage"
                                                       asp-route-pageNo="@Model.PageCount">Last</a>
                                                    </li>
                                                }
                                            </ul>
                                        </nav>
                                    </div>
                                </td>
                            </tr>
                        </tbody>











                    </table>
                </div>
            </div>
        </div>
    </div>
</section>