@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewBag.BodyClass = "home";
}

<partial name="_Showcase" model='new { HeaderText = "Scandinavian Accounts", ParagraphText = @Model.Paragraph }' />

<section class="section pt-0 position-relative pull-top">
    <div class="container">
        <div class="rounded shadow p-5 bg-white">
            <div class="row">
                @foreach (var iData in Model.IndexPageData)
                {
                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0 text-center">
                        <a asp-page="/Country/Index" asp-route-country="@iData.Country">

                            @if (iData.Country == "Sweden")
                            {
                                <i class="flags fi fi-se "></i>
                            }
                            else if (iData.Country == "Denmark")
                            {
                                <i class="flags fi fi-dk"></i>
                            }
                            else if (iData.Country == "Norway")
                            {
                                <i class="flags fi fi-no"></i>
                            }
                            else if (iData.Country == "Finland")
                            {
                                <i class="flags fi fi-fi"></i>
                            }
                            <h3 class="mt-4 text-capitalize h5 ">Customers</h3>
                            <p class="regular text-muted">@iData.TotalNumberOfCustomers</p>
                            <h3 class="mt-4 text-capitalize h5 ">Accounts</h3>
                            <p class="regular text-muted">@iData.TotalNumberOfAccounts</p>
                            <h3 class="mt-4 text-capitalize h5 ">Total Assets</h3>
                            <p class="regular text-muted">@iData.TotalSumOfAccounts @iData.Currency</p>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>






